<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

<link rel="stylesheet"
	href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
<style>
.center {
	text-align: center;
}
</style>
<title>Vendas Efetuadas</title>
</head>

<body>
	<section>
		<!-- Right Panel -->

		<div id="right-panel" class="right-panel" layout:fragment="conteudo">

			<!-- Header-->
			<header id="header" class="header">

				<div class="header-menu">

					<div class="col-sm-7">
						<a id="menuToggle" class="menutoggle pull-left"><i
							class="fa fa fa-tasks"></i></a>
						<div class="header-left">
							<div></div>

							<div></div>
						</div>
					</div>

					<div class="col-sm-5 float-right">
						<ul>
							<li style="list-style-type: none" class="float-right">
								<p class="navbar-text"
									th:text="${#authentication.principal.usuario.nome}">Usuario</p>
								<a class="nav-link float-right " th:href="@{/logout}"><i
									class="fa fa-sign-out"></i>Sair</a>
							</li>
						</ul>
					</div>
				</div>


			</header>
			<!-- /header -->
			<!-- Header-->

			<!-- até aqui tem q ter em todos -->
			<div class="breadcrumbs">
				<div class="col-sm-4">
					<div class="page-header float-left">
						<div class="page-title">
							<h1>Relatório de Vendas</h1>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="page-header float-right">
						<div class="page-title">
							<ol class="breadcrumb text-right">
								<li class="active"><a href="#" data-toggle="modal"
									data-target="#modalHelpBuscaVendas">Dúvidas na busca?
										Clique aqui</a></li>
							</ol>
						</div>
					</div>
				</div>
			</div>


			<div class="content mt-3">
				<div class="animated fadeIn">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<strong class="card-title">Vendas Realizadas</strong>
								</div>
								<div class="card-body">

									<div id="bootstrap-data-table_wrapper"
										class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
										<table id="bootstrap-data-table"
											class="table table-hover table-condensed table-striped table-bordered dataTables_wrapper dt-bootstrap4 no-footer dataTable">

											<!-- Header Table -->
											<thead>
												<tr>
													<th style="width: 10%" class="center">Id</th>
													<th style="width: 25%" class="center">Data e Hora da
														Venda</th>
													<th style="width: 12" class="center">Valor total (R$)</th>
													<th style="width: 15%" class="center">Vendedor</th>
													<th style="width: 28%" class="center">Cliente</th>
													<th style="width: 10%" class="center"
														sec:authorize-url="/vendas/deletar">Opções</th>

												</tr>
											</thead>
											<!-- Footer Table -->
											<tbody>
												<tr th:each="venda: ${vendas}" data-id="${vendas.id}">
													<td th:text="${venda.id}" class="center"
														th:value="${venda.id}"></td>
													<td th:text="${{venda.dataCriacao}}" class="center"></td>
													<td th:text="${venda.valorTotal}" class="js-decimal center"></td>
													<td th:text="${venda.usuario.nome}" class="center"></td>
													<td th:text="${venda.cliente.nome}" class="center"></td>
													<td class="text-center" sec:authorize-url="/vendas/deletar">
														<!--  <a
														class="btn  btn-link  btn-xs" title="Editar"
														th:href="@{/vendas/{id}(id = ${venda.id})}"> <i
															class="fa fa-pencil"></i>
													</a>--> <a
														class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn"
														title="Excluir" href="#"
														data:url="@{/vendas/{id}(id=${venda.id})}"
														data:objeto="${venda.id}"> <i class="fa fa-trash-o"></i></a>
													</td>
												</tr>
											</tbody>

										</table>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- aqui acaba oq muda de um pro outro -->
			<!-- .content -->
			<div th:replace="modal/venda/HelpBuscaVenda :: modal"></div>
		</div>
		<!-- /#right-panel -->
	</section>
	<!-- /#right-panel -->

	<!-- Right Panel -->

</body>
</html>
