<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<div class="bw-tabela-item" th:each="item: ${itens}" data:valor-total = "${valorTotal}">
	<!-- 
	<div>
		<i class="fa fa-times pointer js-tabela-delete"
			style="float: right; color: red"></i>
	</div>
	 -->
	<div class="bw-tabela-item__coluna  bw-tabela-item__coluna--foto">
		<img th:src="@{/images/logo.png}" class="img-responsive" />
	</div>

	<div class="bw-tabela-item__coluna bw-tabela-item__coluna--detalhes">
		<span class="bw-tabela-cerveja-nome" th:value="${item.produto.id}"
			th:text="${item.produto.nome}"></span>
	</div>
	<div class="bw-tabela-item__coluna bw-tabela-item__coluna--valores">
		<div class="bw-tabela-cerveja-valor-pequeno">
			<input type="text" maxlength="3"
				class="bw-tabela-cerveja-campo-quantidade js-tabela-produto-quantidade-item js-plain centro"
				th:value="${item.quantidade}"
				data:codigo-cerveja="${item.produto.id}" /> <span>x
				R$[[${{item.valorUnitario}}]]</span>
			<div class="bw-tabela-cerveja-valor-grande">
				R$[[${{item.valorTotal}}]]</div>
		</div>
	</div>

	<div class="bw-tabela-item__painel-exclusao">
		<!-- 	<div>
			<i class="fa fa-times pointer" style="float: right; color: red"></i>
		</div>
		 -->
		<span class="bw-tabela-item__titulo-exclusao">Excluir este item
			da venda?</span>
		<button type="button" class="btn  btn-danger js-exclusao-item-btn"
			data:codigo-cerveja="${item.produto.id}">Sim, excluir!</button>
	</div>

</div>
<div class="bw-tabela-cervejas__vazio" th:if="${itens.empty}">
	<i class="fa fa-shopping-cart"></i> <span>Você ainda não
		adicionou nenhum produto.</span>
</div>
</html>