<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">


<head>
<title>Cadastro de Produto</title>
</head>

<body>
	<section>
		<!-- Right Panel -->

		<div id="right-panel" class="right-panel" layout:fragment="conteudo">

			<!-- Header-->
			<header id="header" class="header">

				<div class="header-menu">

					<div class="col-sm-7">
						<a id="menuToggle" class="menutoggle pull-left"><i
							class="fa fa fa-tasks"></i></a>
						<div class="header-left">
							<div></div>

							<div></div>
						</div>
					</div>

					<div class="col-sm-5 float-right">
						<ul>
							<li style="list-style-type: none" class="float-right">
								<p class="navbar-text"
									th:text="${#authentication.principal.usuario.nome}">Usuario</p>
								<a class="nav-link float-right " th:href="@{/logout}"><i
									class="fa fa-sign-out"></i>Sair</a>
							</li>
						</ul>
					</div>
				</div>


			</header>
			<!-- /header -->
			<!-- Header-->

			<!-- até aqui tem q ter em todos -->
			<div class="breadcrumbs">
				<div class="col-sm-4">
					<div class="page-header float-left">
						<div class="page-title">
							<h1>Cadastro de Produto</h1>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="page-header float-right">
						<div class="page-title">
							<ol class="breadcrumb text-right">
								<li class="active"><a href="#" data-toggle="modal"
									data-target="#modalHelpCadastroProduto">Dúvidas no
										preenchimento? Clique aqui</a></li>
							</ol>
						</div>
					</div>
				</div>
			</div>

			<div>
				<th:block th:include="fragments/MensagemSucesso"></th:block>
				<form method="POST"
					class="form-vertical  js-form-loading content mt-3"
					th:object="${produto}">
					<th:block th:include="fragments/MensagensErroValidacao"></th:block>

					<div class="row">
						<!--o row é pra ficar lado a lado organizado. O row é dividido em 12 pedaços  -->
						<div class="form-group col-sm-12">
							<label for="nome">Descrição*</label> <input id="nome" type="text"
								autofocus="autofocus" class="form-control"
								th:classappend="${#fields.hasErrors('*{nome}')}? is-invalid"
								th:field="*{nome}" tabindex="1" />
						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-12">
							<label for="descricao">Informações adicionais</label>
							<textarea id="descricao" class="form-control"
								placeholder="Se necessário, insira informações adicionais sobre o produto"
								th:field="*{descricao}"
								th:classappend="${#fields.hasErrors('*{descricao}')}? is-invalid"
								tabindex="2"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<div class="form-group">
								<label for="preco">Preço*</label> <input id="preco" type="text"
									class="form-control js-decimal" th:field="*{preco}"
									th:classappend="${#fields.hasErrors('*{preco}')}? is-invalid"
									tabindex="3" />
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="cstDesc">Estoque*</label> <input id="cstDesc"
									type="text" class="form-control js-plain"
									placeholder="Quantidade no estoque" th:field="*{estoque}"
									th:classappend="${#fields.hasErrors('*{estoque}')}? is-invalid"
									tabindex="4" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-3">
							<!-- th:onchange="|selecionouIcms(this.value,'@{/codigos/cfop/atualiza}')|"-->
							<label for="icms" class="control-label">ICMS*</label> <select
								th:onchange="|selecionouIcms(this.value,'@{/codigos/cfop/atualiza}')|"
								id="icms" th:field="*{cfop.icms.id}" class="form-control"
								th:classappend="${#fields.hasErrors('*{cfop.icms.id}')}? is-invalid">

								<option value="0">Selecione o ICMS</option>
								<option th:each="icms: ${icmss}" th:value="${icms.id}"
									th:text="${icms.codigo}"></option>
							</select>
						</div>
					</div>
					<div class="row">

						<div class="col-sm-12">
							<div class="form-group">
								<label for="icmsDesc">Descrição da Situação Tributária
									do ICMS do produto</label> <input id="icmsDesc" type="text"
									th:field="*{cfop.icms.descricao}" class="form-control"
									placeholder="Descrição do CST" readonly value="descricao" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-3">
							<label for="cfop" class="control-label">CFOP*</label> <select
								th:onchange="|selecionouCfop(this.value,'@{/codigos/cfop}')|"
								id="cfop" th:field="*{cfop.id}" class="form-control"
								th:classappend="${#fields.hasErrors('*{cfop.id}')}? is-invalid">
								<option value="0">Selecione o CFOP</option>
								<option th:each="cfop: ${cfops}" th:value="${cfop.id}"
									th:text="${cfop.codigo}"></option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="cfopDesc">Descrição do CFOP</label> <input
									id="cfopDesc" type="text" class="form-control"
									th:field="*{cfop.descricao}" placeholder="Descrição do CFOP"
									readonly />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-3">
							<label for="ncm" class="control-label">NCM*</label> <select
								th:onchange="|selecionouNcm(this.value,'@{/codigos/ncm}')|"
								id="ncm" th:field="*{ncm.id}" class="form-control"
								th:classappend="${#fields.hasErrors('*{ncm.id}')}? is-invalid">
								<option value="0">Selecione o NCM</option>
								<option th:each="ncm: ${ncms}" th:value="${ncm.id}"
									th:text="${ncm.codigo}"></option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="ncmDesc">Descrição do NCM</label> <input
									th:field="*{ncm.descricao}" id="ncmDesc" type="text"
									class="form-control" placeholder="Descrição do NCM" readonly />
							</div>
						</div>
					</div>

					<!-- <div class="row">
						<div class="col-sm-2">
							<div class="form-group">
								<label for="cest">CEST</label> <input id="cest" type="text"
									tabindex="8" class="form-control js-cest" th:field="*{cest}"
									th:classappend="${#fields.hasErrors('*{cest}')}? is-invalid" />
							</div>
						</div>
						<div class="col-sm-10">
							<div class="form-group">
								<label for="cestDesc">Descrição do CEST</label> <input
									id="cestDesc" type="text" class="form-control"
									placeholder="Descrição do CEST" readonly />
							</div>
						</div>
					</div>
					 -->
					<div class="form-group">
						<button class="btn  btn-primary" type="submit" tabindex="9">Salvar</button>
						<button type="button" class="btn btn-danger">Cancelar</button>
					</div>
				</form>
				<div th:replace="modal/produto/HelpCadastroProduto :: modal"></div>
			</div>

			<!-- aqui acaba oq muda de um pro outro -->
			<!-- .content -->
		</div>
		<!-- /#right-panel -->

	</section>
	<!-- /#right-panel -->

	<!-- Right Panel -->

</body>
</html>
