<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="modal fade" id="modalHelpCadastroCliente" tabindex="-1"
		role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true"
		th:fragment="modal">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="scrollmodalLabel">Cadastrando um
						Cliente</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="expCliente">
						<p style="color: black">Uma das principais tarefas realizadas
							neste sistema é o cadastro de clientes. Aqui seguem informações
							importantes sobre o cadastro além de um vídeo exemplificando um
							cadastro sendo feito.</p>
						<ul style="padding-left: 10px">
							<li style="padding-left: 10px">Apenas usuários com acesso de Gerente 
							ou de Vendedor conseguem cadastrar Clientes</li>
							<li style="padding-left: 10px">Os campos obrigatórios são
								indicados com *(asterisco)</li>
							<li style="padding-left: 10px">Nosso sistema possui
								Validação de CPF, além de inputs personalizados de Telefone,
								data e CEP, por exemplo.</li>
							<li style="padding-left: 10px">Nosso sistema não permite o
								cadastro de Clientes com o mesmo CPF</li>
							<li style="padding-left: 10px">Quando uma UF é selecionada,
								serão disponibilizadas as cidades correspondentes no campo de
								cidades</li>
						</ul>
						<p style="color: black">Exemplo:</p>
						<video width="700" height="480" controls>
							<source th:src="@{/videos/CadastroCliente.mp4}" type="video/mp4">
						</video>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>