<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>CBL - Controle Comercial</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/algaworks.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/brewer.css}" />
</head>
<body>
	<section>
		<!-- Right Panel -->

		<div id="right-panel" class="right-panel" layout:fragment="conteudo">

			<!-- Header-->
			<header id="header" class="header">

				<div class="header-menu">

					<div class="col-sm-7">
						<a id="menuToggle" class="menutoggle pull-left"><i
							class="fa fa fa-tasks"></i></a>
						<div class="header-left">
							<div></div>

							<div></div>
						</div>
					</div>

					<div class="col-sm-5 float-right">
						<ul>
							<li style="list-style-type: none" class="float-right">
								<p class="navbar-text"
									th:text="${#authentication.principal.usuario.nome}">Usuario</p>
								<a class="nav-link float-right " th:href="@{/logout}"><i
									class="fa fa-sign-out"></i>Sair</a>
							</li>
						</ul>
					</div>
				</div>

			</header>
			<!-- /header -->
			<!-- Header-->

			<div class="breadcrumbs">
				<div class="col-sm-4">
					<div class="page-header float-left">
						<div class="page-title">
							<h1>Dashboard</h1>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="page-header float-right">
						<div class="page-title">
							<ol class="breadcrumb text-right">
								<li class="active"></li>
							</ol>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-4">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa  fa fa-money  fa-3x"></i>
							</div>
							<div class="aw-box__value">R$90.542,59</div>
							<div class="aw-box__title">Valor do estoque</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa  fa-hashtag  fa-3x"></i>
							</div>
							<div class="aw-box__value">123</div>
							<div class="aw-box__title">Itens no estoque</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa  fa-users  fa-3x"></i>
							</div>
							<div class="aw-box__value">9</div>
							<div class="aw-box__title">Total de clientes</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa  fa-usd  fa-3x"></i>
							</div>
							<div class="aw-box__value">R$3.542,59</div>
							<div class="aw-box__title">Vendas no ano</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa  fa-signal  fa-3x"></i>
							</div>
							<div class="aw-box__value">R$1.233,40</div>
							<div class="aw-box__title">Vendas no mês</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="aw-graph-box">
							<div class="aw-graph-box__header">
								<h2 class="aw-graph-box__title">
									Vendas por mês <small>últimos 6 meses</small>
								</h2>
							</div>
							<div class="aw-graph-box__content">
								<div class="aw-graph-box__no-data">
									<i class="fa  fa-line-chart  fa-2x"></i> <span>Não há
										dados</span>
								</div>
								<div>
									<canvas id="lineChart" height="160"></canvas>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="aw-graph-box">
							<div class="aw-graph-box__header">
								<h2 class="aw-graph-box__title">
									Vendas por origem <small>últimos 6 meses</small>
								</h2>
							</div>
							<div class="aw-graph-box__content">
								<div class="aw-graph-box__no-data">
									<i class="fa  fa-line-chart  fa-2x"></i> <span>Não há
										dados</span>
								</div>
								<div>
									<canvas id="barChart" height="160"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		<!-- .content -->
		<!-- /#right-panel -->

		<!-- Right Panel -->

		<script th:src="@{/layout/js/vendor/jquery-2.1.4.min.js}"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
		<script th:src="@{/layout/js/plugins.js}"></script>
		<script th:src="@{/layout/js/main.js}"></script>


		<script th:src="@{/layout/js/lib/chart-js/Chart.bundle.js}"></script>
		<script th:src="@{/layout/js/dashboard.js}"></script>
		<script th:src="@{/layout/js/widgets.js}"></script>
		<script th:src="@{/layout/js/lib/vector-map/jquery.vmap.js}"></script>
		<script th:src="@{/layout/js/lib/vector-map/jquery.vmap.min.js}"></script>
		<script
			th:src="@{/layout/js/lib/vector-map/jquery.vmap.sampledata.js}"></script>
		<script
			th:src="@{/layout/js/lib/vector-map/country/jquery.vmap.world.js}"></script>
		<script>
			(function($) {
				"use strict";

				jQuery('#vmap').vectorMap({
					map : 'world_en',
					backgroundColor : null,
					color : '#ffffff',
					hoverOpacity : 0.7,
					selectedColor : '#1de9b6',
					enableZoom : true,
					showTooltip : true,
					values : sample_data,
					scaleColors : [ '#1de9b6', '#03a9f5' ],
					normalizeFunction : 'polynomial'
				});
			})(jQuery);
		</script>
	</section>
</body>
</html>
