<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>CBL - Login</title>
<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" th:href="@{/images/favico.png}">

<!-- <link rel="stylesheet" type="text/css" href="../stylesheets/vendors.min.css"
	th:href="@{/stylesheets/vendors.min.css}" />-->
<link type="text/css" rel="stylesheet"
	th:href="@{/layout/css/normalize.css}">
<link type="text/css" rel="stylesheet"
	th:href="@{/layout/css/bootstrap.min.css}">
<link type="text/css" rel="stylesheet"
	th:href="@{/layout/css/font-awesome.min.css}">
<link type="text/css" rel="stylesheet"
	th:href="@{/layout/css/themify-icons.css}">

<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/algaworks.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/application.css}" />

</head>
<body class="bg-dark">
	<div class="sufee-login d-flex align-content-center flex-wrap">
		<div class="container">
			<div class="login-content">
				<div class="aw-layout-simple-page__container">

					<form th:action="@{/login}" method="POST">
						<div class="aw-simple-panel">
							<img alt="CBL" th:src="@{/images/logo-cbl.png}" />

							<div class="aw-simple-panel__message">Por favor, faça o
								login.</div>


							<div class="aw-simple-panel__box">
								<div class="aw-simple-panel__message  is-error"
									th:if="${#bools.isTrue(param.error)}">O e-mail e/ou senha
									não conferem</div>

								<div class="form-group  has-feedback">
									<input type="text" class="form-control  input-lg"
										placeholder="Seu login" autofocus="autofocus" name="username" autocomplete="off"/>
									<span class="form-control-feedback"></span>
								</div>

								<div class="form-group  has-feedback">
									<input type="password" class="form-control  input-lg"
										placeholder="Sua senha" name="password" /> <span
										class="  form-control-feedback"></span>
								</div>
								<div class="form-group">
									<button type="submit"
										class="btn  btn-primary  btn-lg  aw-btn-full-width">Entrar</button>
								</div>

							</div>
						</div>
					</form>
					<div class="aw-simple-panel">
						<h5 style="color: white" class="aw-simple-panel__message">Não possui um Cadastro? Entre em
							contato com o administrador</h5>
						<h6 style="color: white" class="aw-simple-panel__message">Celular: (83)9864-6328. Email:
							caiolucena.cc@gmail.com</h6>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>
</html>
