<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">

<head>
<title>Manual - CBL</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/algaworks.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/brewer.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/bootstrap-datepicker.standalone.min.css}" />
</head>


<body>
	<section>
		<!-- Right Panel -->

		<div id="right-panel" class="right-panel" layout:fragment="conteudo">

			<!-- Header-->
			<header id="header" class="header">

				<div class="header-menu">

					<div class="col-sm-7">
						<a id="menuToggle" class="menutoggle pull-left"><i
							class="fa fa fa-tasks"></i></a>
						<div class="header-left">
							<div></div>

							<div></div>
						</div>
					</div>

					<div class="col-sm-5 float-right">
						<ul>
							<li style="list-style-type: none" class="float-right">
								<p class="navbar-text"
									th:text="${#authentication.principal.usuario.nome}">Usuario</p>
								<a class="nav-link float-right " th:href="@{/logout}"><i
									class="fa fa-sign-out"></i>Sair</a>
							</li>
						</ul>
					</div>
				</div>


			</header>
			<!-- /header -->
			<!-- Header-->

			<!-- até aqui tem q ter em todos -->
			<div class="breadcrumbs">
				<div class="col-sm-2">
					<div class="page-header float-left"></div>
				</div>
				<div class="col-sm-10">
					<div class="page-title float-left">
						<h1 style="font-size: 30px">Manual do Sistema Comercial - CBL</h1>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div id="indice" style="padding-right: 10px">
					<div style="margin-bottom: 30px">
						<h3>Índice</h3>
					</div>
					<div style="margin-bottom: 15px">
						<h4 style="color: black">
							<a href="#proposta">1.Proposta do Software</a>
						</h4>
					</div>
					<div style="margin-bottom: 15px">
						<h4 style="color: black">
							<a href="#requisitos">2.Requisitos do Sistema</a>
						</h4>
					</div>
					<div style="margin-bottom: 15px">
						<h4 style="color: black">
							<a href="#cadastros">3.Realização de Cadastros</a>
						</h4>
					</div>
					<div style="margin-bottom: 10px">
						<h5 style="color: black; padding-left: 20px">
							<a href="#expProduto">3.1 Cadastro de Produto</a>
						</h5>
					</div>
					<div style="margin-bottom: 10px">
						<h5 style="color: black; padding-left: 20px">
							<a href="#expCliente">3.2 Cadastro de Cliente</a>
						</h5>
					</div>

					<div style="margin-bottom: 10px">
						<h5 style="color: black; padding-left: 20px">
							<a href="#expUsuário">3.3 Cadastro de Usuário</a>
						</h5>
					</div>
					<div style="margin-bottom: 15px">
						<h4 style="color: black">
							<a href="#bsc">4.Busca,Edição e Exclusão de Cadastros</a>
						</h4>
					</div>
					<div style="margin-bottom: 10px">
						<h5 style="color: black; padding-left: 20px">
							<a href="#bscProduto">4.1 Busca,Edição e Exclusão de Produto</a>
						</h5>
					</div>
					<div style="margin-bottom: 10px">
						<h5 style="color: black; padding-left: 20px">
							<a href="#bscCliente">4.2 Busca,Edição e Exclusão de Cliente</a>
						</h5>
					</div>

					<div style="margin-bottom: 10px">
						<h5 style="color: black; padding-left: 20px">
							<a href="#bscUsuário">4.3 Busca,Edição e Exclusão de Usuário</a>
						</h5>
					</div>
					<div style="margin-bottom: 10px">
						<h5 style="color: black; padding-left: 20px">
							<a href="#relatorios">4.4 Emissão de relatórios</a>
						</h5>
					</div>
					<div style="margin-bottom: 15px">
						<h4 style="color: black">
							<a href="#vendas">5.Realização de Venda</a>
						</h4>
					</div>
				</div>
				<div style="margin-bottom: 50px">
					---------------------------------------------------------------------Fim
					do
					Índice---------------------------------------------------------------</div>
				<a style="float: right" href="#indice">[voltar para o inicio]</a>


				<!-- Proposta do Software-->
				<div>
					<h4 style="color: black; margin-bottom: 30px; margin-top: 50px">
						<a href="#proposta">1. Proposta do Software</a>
					</h4>
					<div id="proposta">
						<p style="color: black">Este Software, CBL – Sistema de
							Controle Comercial, foi desenvolvido por Caio Lucena.</p>
						<p style="color: black">O CBL fornece ao usuário uma interface
							que o ajuda a interagir com o software sem que necessite
							contactar o suporte ao tentar executar qualquer função. Além
							disso, o software fornece mensagens de erros que de fato ajudem o
							usuário, além de um HELP de fácil acesso a informações, ademais o
							software possui um manual vinculado.</p>
						<p style="color: black">Este sistema não contempla
							(Inicialmente) Treinamentos de usuários, relatório de contas a
							pagar, gráficos, gerador automático de contas.</p>
						<p style="color: black">Muitos comerciantes de pequeno a médio
							porte estão acostumados a não ter um controle formal de seus
							produtos, sendo tudo feito à mão</p>
						<p>
						<p style="color: black">Porém, há um crescimento no interesse
							destes comerciantes em utilizar softwares de controle comercial.
							Mas muitos comerciantes encontram dificuldades ao migrarem para
							os softwares disponibilizados no mercado. Estas dificuldades
							variam entre preço muito elevado à usabilidade ruim. Então um
							software barato e com uma boa usabilidade seria bem aceito tanto
							pelos usuários com muita intimidade com o computador tanto pelos
							que tem pouca.</p>
						<p style="color: black">Os usuários, que utilizam softwares
							com propostas semelhasntes a este, fazem o uso desses softwares
							dentro de seus estabelecimentos, com computadores que,
							geralmente, não são “de ultima geração”.</p>
						<p style="color: black">Além disso, o fluxo de pessoas é muito
							rápido, então a resposta do software deve ser rápida para que não
							haja perda de clientes ou de vendas por conta do sistema que
							travou</p>
						<p style="color: black">À medida que uma grande parte dos
							usuários de softwares de controle comercial utiliza computadores
							não tão potentes, o software deve ser capaz de funcionar bem em
							máquinas que possuam memória e armazenamento reduzidos.</p>
						<p style="color: black">O software não deve demorar muito à
							responder aos comandos do usuário, a não ser que seja uma busca
							complexa ou que aguarde algum tipo de comunicação com o servidor</p>

					</div>
					<a style="float: right" href="#indice">[voltar para o inicio]</a>
				</div>

				<!-- Requisitos -->
				<div>
					<h4 style="color: black; margin-bottom: 30px">
						<a href="requisitos">2.Requisitos do Sistema</a>
					</h4>
					<div id="requisitos">


						<p style="color: black">O usuário necessita apenas de conexão
							com a internet, e um browser para acessar o sistema</p>
						<p style="color: black">A velocidade de processamento das
							requisições dependerá do computador e da internet do usuário.</p>
					</div>
					<a style="float: right" href="#indice">[voltar para o inicio]</a>
				</div>

				<!-- Cadastros-->
				<div>
					<h4 style="color: black; margin-bottom: 30px">
						<a href="#cadastros">3.Realização de Cadastros</a>
					</h4>
				</div>
				<!-- Cadastro de Produtos -->


				<div>
					<h5 style="color: black">
						<a href="#expProduto">3.1 Cadastro de Produto</a>
					</h5>
					<div id="expProduto">
						<p style="color: black">Cadastros de produtos bem feitos
							ajudam a evitar erros futuros causados por incompatibilidade nos
							códigos informados.</p>
						<p style="color: black">No nosso sistema, estes erros são
							minimizados, pois não permitimos que códigos não relacionados
							sejam cadastrados no mesmo produto</p>
						<p style="color: black">Ressaltamos que, qualquer dúvida
							quevocê tiver relacionada à códigos fiscais, pode ser tirada pelo
							nosso suporte ou por seu contador</p>
						<p style="color: black">Em seguida, indicaremos links
							importantes para que você tenha melhores informações sobre os
							códigos necessários no cadastro do produto</p>

						<p style="color: black; font-weight: bold">Códigos Fiscais</p>
						<ul style="padding-left: 10px">
							<li style="padding-left: 10px"><a style="color: blue"
								target="_blank"
								href="http://www.ccentral.com.br/web/documentos/CST-CSOSN.pdf">CST
									- CSON </a></li>
							<li style="padding-left: 10px"><a style="color: blue"
								href="http://contadores.cnt.br/cfop.html" target="_blank">CFOP
									- Código Fiscal de Operações e de Prestações das Entradas de
									Mercadorias e Bens e da Aquisição de Serviços</a></li>
							<li style="padding-left: 10px"><a style="color: blue"
								target="_blank"
								href="https://www.contabilizei.com.br/contabilidade-online/ncm/">NCM
									- Nomenclatura Comum do Mercosul</a></li>
						</ul>

						<p style="color: black">Exemplo:</p>
						<video width="700" height="480" controls>
							<source th:src="@{/videos/CadastroCliente.mp4}" type="video/mp4">
						</video>
					</div>
					<a style="float: right" href="#indice">[voltar para o inicio]</a>
				</div>

				<!-- Cadastro de Cliente -->
				<div>
					<h5 style="color: black">
						<a href="#expCliente">3.2 Cadastro de Cliente</a>
					</h5>
					<div id="expCliente">
						<p style="color: black">Uma das principais tarefas realizadas
							neste sistema é o cadastro de clientes. Aqui seguem informações
							importantes sobre o cadastro além de um vídeo exemplificando um
							cadastro sendo feito.</p>
						<ul style="padding-left: 10px">
							<li style="padding-left: 10px">Apenas usuários com acesso de
								Gerente ou de Vendedor conseguem cadastrar Clientes</li>
							<li style="padding-left: 10px">Os campos obrigatórios são
								indicados com *(asterisco)</li>
							<li style="padding-left: 10px">Nosso sistema possui
								Validação de CPF, além de inputs personalizados de Telefone,
								data e CEP, por exemplo.</li>
							<li style="padding-left: 10px">Nosso sistema não permite o
								cadastro de Clientes com o mesmo CPF</li>
							<li style="padding-left: 10px">Quando uma UF é selecionada,
								serão disponibilizadas as cidades correspondentes no campo de
								cidades</li>
						</ul>
						<p style="color: black">Exemplo:</p>
						<video width="700" height="480" controls>
							<source th:src="@{/videos/CadastroCliente.mp4}" type="video/mp4">
						</video>
					</div>
					<a style="float: right" href="#indice">[voltar para o inicio]</a>
				</div>

				<div>
					<h5 style="color: black">
						<a href="#expUsuario">3.3 Cadastro de Usuário</a>
					</h5>
					<div id="expUsuario">
						<p style="color: black">O Cadastro de Usuário é primordial
							para que o Gerente tenha um controle melhor sobre sua equipe.
							Nosso sistema possui níveis de acesso que serão explicados em
							seguida.</p>
						<ul style="padding-left: 10px">
							<li style="padding-left: 10px">Apenas usuários com acesso de
								Gerente conseguem cadastrar Usuários</li>
							<li style="padding-left: 10px">Os campos obrigatórios são
								indicados com *(asterisco)</li>
							<li style="padding-left: 10px">Nosso sistema possui
								Validação de CPF</li>
							<li style="padding-left: 10px">Nosso sistema não permite o
								cadastro de Usuários com o mesmo CPF</li>
						</ul>
						<div>
							<p style="color: black; font-weight: bold">Níveis de Acesso</p>
							<div>
								<p style="color: black; font-weight: bold">Gerente:</p>
								<ul style="padding-left: 10px">
									<li style="padding-left: 10px">Cadastrar,buscar Editar e
										Remover Usuários</li>
									<li style="padding-left: 10px">Cadastrar, buscar, Editar e
										Remover Clientes</li>
								</ul>
							</div>
							<div>
								<p style="color: black; font-weight: bold">Vendedor:</p>
								<ul style="padding-left: 10px">
									<li style="padding-left: 10px">Cadastrar e buscar Produtos</li>
									<li style="padding-left: 10px">Cadastrar e buscar Clientes</li>
									<li style="padding-left: 10px">Realizar e Remover Vendas</li>
								</ul>
							</div>
							<div>
								<p style="color: black; font-weight: bold">Estoquista:</p>
								<ul style="padding-left: 10px">
									<li style="padding-left: 10px">Cadastrar,buscar Editar e
										Remover Produtos</li>
								</ul>
							</div>
							<p style="color: black">Exemplo:</p>
							<video width="700" height="480" controls>
								<source th:src="@{/videos/CadastroCliente.mp4}" type="video/mp4">
							</video>
						</div>
						<a style="float: right" href="#indice">[voltar para o inicio]</a>
					</div>
				</div>



				<div style="margin-bottom: 30px; margin-top: 50px">
					<h4 style="color: black">
						<a href="#bsc">4.Busca,Edição e Exclusão de Cadastros</a>
					</h4>
				</div>

				<div style="margin-bottom: 10px">
					<h5 style="color: black; padding-left: 20px">
						<a href="#bscProduto">4.1 Busca,Edição e Exclusão de Produto</a>
					</h5>

					<div id="bscProduto">
						<p style="color: black">A busca pode ser feita digitando
							qualquer caractere no campo determinado. A busca é feita
							automaticamente, sem a necessidade de se apertar um botão para
							buscar.</p>
						<p style="color: black">No nosso sistema,não é necessário
							indicar qual o campo que você deseja buscar. O sistema já busca
							automaticamente o valor desejado em todos as colunas e retorna as
							linhas correspondentes.</p>

						<p style="color: black">Foram mostradas na tabela as
							informações mais importantes do produto, deixando de lado a
							descrição. Caso deseje verificar a descrição, clique no botão de
							editar (caso tenha acesso à esta permissão).</p>
						<p style="color: black">Para editar alguma informação do
							usuário desejado, clique no ícone do lapis da linha
							correspondente e para deletar, clique no ícone da lixeira também
							da linha correspondente.</p>

						<p style="color: black">Exemplo:</p>
						<video width="700" height="480" controls>
							<source th:src="@{/videos/CadastroCliente.mp4}" type="video/mp4">
						</video>
					</div>
					<a style="float: right" href="#indice">[voltar para o inicio]</a>
				</div>


				<div style="margin-bottom: 10px">
					<h5 style="color: black; padding-left: 20px">
						<a href="#bscCliente">4.2 Busca,Edição e Exclusão de Cliente</a>
					</h5>
					<div id="bscProduto">
						<p style="color: black">A busca pode ser feita digitando
							qualquer caractere no campo determinado. A busca é feita
							automaticamente, sem a necessidade de se apertar um botão para
							buscar</p>
						<p style="color: black">No nosso sistema,não é necessário
							indicar qual o campo que você deseja buscar. O sistema já busca
							automaticamente o valor desejado em todos as colunas e retorna as
							linhas correspondentes.</p>

						<p style="color: black">Foram mostradas na tabela as
							informações mais importantes do Cliente, deixando de lado a data
							de nascimento. Caso deseje verificar a data de nascimento, clique
							no botão de editar (caso tenha acesso à esta permissão)</p>
						<p style="color: black">Para editar alguma informação do
							usuário desejado, clique no ícone do lapis da linha
							correspondente e para deletar, clique no ícone da lixeira também
							da linha correspondente.</p>

						<p style="color: black">Exemplo:</p>
						<video width="700" height="480" controls>
							<source th:src="@{/videos/CadastroCliente.mp4}" type="video/mp4">
						</video>
					</div>
					<a style="float: right" href="#indice">[voltar para o inicio]</a>
				</div>

				<div style="margin-bottom: 10px">
					<h5 style="color: black; padding-left: 20px">
						<a href="#bscUsuario">4.3 Busca,Edição e Exclusão de Usuario</a>
					</h5>

					<div id="bscUsuario">
						<p style="color: black">A busca pode ser feita digitando
							qualquer caractere no campo determinado. A busca é feita
							automaticamente, sem a necessidade de se apertar um botão para
							buscar</p>
						<p style="color: black">No nosso sistema,não é necessário
							indicar qual o campo que você deseja buscar. O sistema já busca
							automaticamente o valor desejado em todos as colunas e retorna as
							linhas correspondentes.</p>

						<p style="color: black">Foram mostradas na tabela as
							informações mais importantes do Usuário.</p>
						<p style="color: black">Para editar alguma informação do
							usuário desejado, clique no ícone do lapis da linha
							correspondente e para deletar, clique no ícone da lixeira também
							da linha correspondente</p>
						<p style="color: black">Abaixo indicamos exemplo de interações
							com esta tela</p>

						<p style="color: black">Exemplo:</p>
						<video width="700" height="480" controls>
							<source th:src="@{/videos/CadastroCliente.mp4}" type="video/mp4">
						</video>
					</div>
					<a style="float: right" href="#indice">[voltar para o inicio]</a>
				</div>

				<div style="margin-bottom: 10px">
					<h5 style="color: black; padding-left: 20px">
						<a href="#relatorios">4.4 Emissão de Relatórios</a>
					</h5>
					<div id="relatorios">
						<p style="color: black">Os relatórios podem ser emitidos em
							qualquer tela de busca, clicando no botão de emitir em excel ou
							emitir em pdf</p>
						<p style="color: black">As linhas transmitidas para os
							relatórios serão as linhas que aparecem na tela no momento do
							click do botão</p>

						<p style="color: black">Exemplo:</p>
						<video width="700" height="480" controls>
							<source th:src="@{/videos/CadastroCliente.mp4}" type="video/mp4">
						</video>
					</div>
					<a style="float: right" href="#indice">[voltar para o inicio]</a>
				</div>

				<div style="margin-bottom: 10px">
					<h5 style="color: black; padding-left: 20px">
						<a href="#vendas">5 Realização de Vendas</a>
					</h5>

					<div id="vendas">
						<p style="color: black">A realização da venda é feita de uma
							forma bem simples. Primeiro deve ser selecionado um cliente,
							clicando na lupa e o buscando por nome.</p>
						<p style="color: black">Então deve-se clicar na linha do
							cliente desejado para que ele seja inserido na venda</p>
						<p style="color: black">Também deve-se inserir os produtos na
							lista de venda, buscando-os por qualquer parte do nome.</p>

						<p style="color: black">O valor do frete e/ou do desconto
							podem ser inseridos a qualquer momento.</p>
						<p style="color: black"></p>

						<p style="color: black">Ao informar alguma quantidade de
							produto. O valor parcial é atualizado ao ser teclada a tecla TAB.
							O valor total é atualizado automaticamente</p>

						<p style="color: black">Exemplo:</p>
						<video width="700" height="480" controls>
							<source th:src="@{/videos/CadastroCliente.mp4}" type="video/mp4">
						</video>
					</div>
					<a style="float: right" href="#indice">[voltar para o inicio]</a>
				</div>
				<!-- FIM DO CONTAINER FLUID, DO MANUAL EM SI -->
			</div>

		</div>
	</section>
</body>

</html>